/GameProject/nbproject/private/
/GameProject/build/
/GameProject/dist/
GameProject/.jacocoverage/jacoco.latest.exec
GameProject/.jacocoverage/jacoco.latest.xml
GameProject/.jacocoverage/report.html/.resources/branchfc.gif
GameProject/.jacocoverage/report.html/.resources/branchnc.gif
GameProject/.jacocoverage/report.html/.resources/bundle.gif
GameProject/.jacocoverage/report.html/.resources/class.gif
GameProject/.jacocoverage/report.html/.resources/branchpc.gif
GameProject/.jacocoverage/report.html/.resources/greenbar.gif
GameProject/.jacocoverage/report.html/.resources/method.gif
GameProject/.jacocoverage/report.html/.resources/group.gif
GameProject/.jacocoverage/report.html/.resources/prettify.css
GameProject/.jacocoverage/report.html/.resources/redbar.gif
GameProject/.jacocoverage/report.html/.resources/report.gif
GameProject/.jacocoverage/report.html/.resources/report.css
GameProject/.jacocoverage/report.html/.resources/sort.js
GameProject/.jacocoverage/report.html/.resources/sort.gif
GameProject/.jacocoverage/report.html/.resources/session.gif
GameProject/.jacocoverage/report.html/.resources/source.gif
*.html
